<main class="outer-text-content">
  <%= turbo_frame_tag(:entry_form) do %>
    <%= form_tag("select_participant", data: { controller: "form-submitter" }) do %>
      <%= select_tag :participant_id,
        options_for_select(
        current_user.participants.select { |p| !@contest.has_entry_from(p) }
        .map { |p| [p.name, p.id] }),
        prompt: "Select participant", 
        data: {
          action: "change->form-submitter#submit"
        } %>
    <% end %>
  <% end %>
</main>