<main class="outer-text-content">
  <article class="text-content">
    <p>Please select a participant. Only participants that haven't yet entered and are within the age range for this contest can be selected.</P>
    <%= turbo_frame_tag(:entry_form) do %>
      <div class="form-div">
        <%= form_tag("select_participant", data: { controller: "form-submitter" }) do %>
          <%= select_tag :participant_id,
            options_for_select(
            current_user.participants.select { |p| p.can_enter_in(@contest) }
            .map { |p| [p.name, p.id] }),
            prompt: "Select participant", 
            data: {
              action: "change->form-submitter#submit"
            } %>
        <% end %>
      </div>
    <% end %>
  </article>
</main>