<article class="text-content">
  <h2>Welcome to the <%= (Date.today.year - 2019).ordinalize %> annual Friends and Family Gingerbread House Contest!</h2>
  <P>This year's prizes are once again 3D printed ornaments!</p>
  <p>Only one person per family needs to log in, but each family will have participants under that person's account. All entry submissions and voting will be done through that person's account for each participant.</p>
  <% unless logged_in? %>
    <p>You may login or sign up by clicking this button:</p>
    <%= button_to 'Login', '/auth/auth0', method: :post, data: {turbo: false}, class: "login-logout-button" %>
    <p>If it is your first time logging in or you haven't added any participants, you will be taken to your account screen where you may do so.</p>
  <% end %>
  <p>All contests are listed below. Once you are logged in, you can submit entries for each participant in your family before voting begins and submit votes for each participant in your family after voting begins.</p>
</article>

<% Contest.all.each do |contest| %>
  <%= render "contests/contest", contest: contest%>
<% end %>