.entry-content {
  border: 1px solid #2060A4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "entry-title entry-title"
  "entry-slide-show entry-description";
  column-gap: 10px;
}

.entry-title {
  grid-area: entry-title;
}

.entry-slide-show {
  grid-area: entry-slide-show;
}

.entry-description {
  grid-area: entry-description;
}

.entry-slide-show {
  row-gap: 5px;
  display: flex;
  flex-direction: column;
}

.entry-slides {
  grid-area: entry-slides;
  height: 230px;
  display: flex;
  align-items: center;
  background-color: black
}

.entry-control {
  display: inline-block;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  background-color: #EE1C24;
  border: 1px white solid;
  color: white;
}

.entry-control:hover {
  background-color: #6C9D30;
  color: #FFC10B;
  border-color: #FFC10B;
}

.entry-control-previous {
  grid-area: entry-control-previous;
}

.entry-control-next {
  grid-area: entry-control-next;
}

.entry-slide-show-controls {
  grid-area: slide-show-controls;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "entry-control-previous entry-control-next";
  column-gap: 5px;
  height: 25px;
  max-height: 25px;
}

.slide {
  margin: auto; 
}

.slide img {
  max-height: 230px;
}

@media only screen and (max-width: 600px) {
  .entry-content {
    grid-template-areas:
    "entry-title"
    "entry-slide-show"
    "entry-description";
    row-gap: 10px;
    grid-template-columns: 1fr;
  }
}


