body {
  overscroll-behavior-y: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  color: #5A4323;
}

// Fix stupid rules that changes the h1
// inside articles and sections
h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h1, h2, h3, h4 {
  color: #5A4323;
}

a {
  color: #EE1C24;
  text-decoration: none;
}

footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  font-size: 10px;
}

a:visited {
  color: #EE1C24;
}

a:hover {
  color: #6C9D30;
}

.background{
  &::before {
      content: ' ';
      position: fixed; // instead of background-attachment
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: black;
      background: url("background.jpg");
      background-size: 100% auto;
      will-change: transform; // creates a new paint layer
      z-index: -1;
  }
}

.main-grid-container {
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "top-nav"
  "title"
  "content";
  padding: 10px;
  overflow: scroll;
  grid-gap: 15px;
}

.text-content {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
  border: 2px solid #2060A4;
}

.error-text-content {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
  color: black;
  border: 2px solid red;
  color: red;
}

//top-nav
.top-nav {
  grid-area: top-nav;
  border-radius: 15px;
  margin: 5px 0px;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  border: 2px solid #2060A4;
}

.top-nav-content {
  display: grid;
  grid-template-areas:
  "nav-menu nav-menu nav-menu nav-menu nav-menu login-menu";
}

.top-nav-content a {
  color: #EE1C24;
}

.top-nav-content a:visited {
  color: #EE1C24;
}

.top-nav-item {
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;
  display: grid;
  padding: 5px;
}

.top-nav-item a:hover{
  color: #6C9D30;
}

.top-nav-item form {
  display: inline;
  text-align: center;
}

//nav-menu
.nav-menu {
  grid-area: nav-menu;
  display: flex;
  justify-content: left;
  align-content: center;
  flex-direction: row;
  grid-gap: 10px;
}

.nav-menu .top-nav-item a {
  text-decoration: none;
}

//login-menu
.login-menu {
  grid-area: login-menu;
  display: flex;
  justify-content: right;
  align-content: center;
  flex-direction: row;
  grid-gap: 10px;
}

.login-logout-button {
  grid-column: -1;
  background-color: #EE1C24;
  border: 1px white solid;
  color: white;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.login-logout-button:hover {
  background-color: #6C9D30;
  color: #FFC10B;
  border-color: #FFC10B;
}

.nav-toggle {
  grid-area: nav-toggle;
  display: grid;
  justify-content: center;
  display: none;
}

.nav-toggle-icon {
  font-size: 26px;
  color: #EE1C24;
}

//title
.main-title {
  grid-area: title;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "image"
  "title";
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  justify-items: center;
}

.main-title img {
  height: 200px;
  display: block;
  grid-area: image;
}

.main-title h1 {
  display: inline-block;
  grid-area: title;
  font-family: cursive;
  color: #EE1C24;
  filter: drop-shadow(0px 0px 10px white);
  font-size: 40px;
}

.content {
  grid-area: content;
  margin-left: 25px;
  margin-right: 25px;
}

// Utility styles
.hidden {
  display: none !important;
}

.pointer{
  cursor: pointer !important;
}

.center-text {
  text-align: center !important;
}

// Content
.outer-text-content {
  border-radius: 15px;
  margin: 5px auto;
  width: 1230px;
}

.outer-text-content a {
  color: #EE1C24;
}

.outer-text-content a:hover {
  color: #6C9D30;
}

.outer-text-content a:visited {
  color: #EE1C24;
}

//forms
.form-div {
  // margin: 20px;
  // padding: 10px;
}

.form-div label {
  display: block; 
}

.form-div .field, .form-div .actions {
  margin-bottom: 10px; 
}

// .form-div a{
//   background-color: #EE1C24;
//   border: 1px black solid;
//   color: black;
//   border-radius: 5px;
//   padding: 5px;
//   text-decoration: none;
// }

.form-div a:visited{
  color: #EE1C24;
}

.form-div a:hover {
  background-color: #6C9D30;
  color: #FFC10B;
  border-color: #FFC10B;
}

.form-div input[type=submit]{
  background-color: #EE1C24;
  border: 1px white solid;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.form-div input[type=submit]:hover {
  background-color: #6C9D30;
  color: #FFC10B;
  border-color: #FFC10B;
}

.form-div input[type=button]{
  background-color: #EE1C24;
  border: 1px white solid;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.form-div input[type=button]:hover {
  background-color: #6C9D30;
  color: #FFC10B;
  border-color: #FFC10B;
}

.form-div input[type=file]{
  background-color: #EE1C24;
  border: 1px white solid;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

.form-div input[type=file]:hover {
  background-color: #6C9D30;
  color: #FFC10B;
  border-color: #FFC10B;
}

.form-div input[type=text]{
  // background: none;
  // border: 1px black solid;
  // color: rgba(217, 211, 211, 1);
  // border-color: rgba(255, 255, 255, 0.8);
}

.field_with_errors {
  padding: inherit !important;
  background-color: white !important;
  display: initial !important;
  color: red;
}

.form-errors {
  margin-bottom: 10px;
  color: red;
}

@media only screen and (max-width: 600px) {
  .hidden-on-mobile {
      display: none !important;
  }

  .top-nav-content {
      grid-template-areas:
      "nav-toggle"
      "nav-menu"
      "login-menu";
      row-gap: 10px;
  }

  .top-nav-item {
      margin-right: 0px;
      margin-bottom: 5px;
      display: block;
  }

  .nav-toggle {
      display: grid;
  }

  .nav-menu {
      margin-bottom: 5px;
      margin-top: 5px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      grid-gap: 5px;
  }

  .login-menu {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      grid-gap: 5px;
  }

  .main-title {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image";
  }
}

footer a {
  filter: drop-shadow(0px 0px 10px #2060A4);
}

@media only screen and (max-width: 1280px) {
  //content
  .outer-text-content {
      width: 974px;
  }
}

@media only screen and (max-width: 1024px) {
  //content
  .outer-text-content {
      width: 718px;
  }
}

@media only screen and (max-width: 768px) {
  //content
  .outer-text-content {
      width: 430px;
  }
}

@media only screen and (max-width: 480px) {
  //content
  .outer-text-content {
      width: 330px;
  }
}

@media only screen and (max-width: 380px) {
  //content
  .outer-text-content {
      width: 250px;
  }
}

@media (max-aspect-ratio: 1/1) {
  .background{
    &::before {
      background-size: cover;
    }
  }
}

body{
  background:white;
}
/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}