body {
  overscroll-behavior-y: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

// Fix stupid rules that changes the h1
// inside articles and sections
h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.background{
  // &::before {
  //     content: ' ';
  //     position: fixed; // instead of background-attachment
  //     width: 100%;
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     background-color: black;
  //     background: url("background3.jpg") no-repeat center center;
  //     background-size: cover;
  //     will-change: transform; // creates a new paint layer
  //     z-index: -1;
  // }
}

.main-grid-container {
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "top-nav"
  "title"
  "content";
}

//top-nav
.top-nav {
  grid-area: top-nav;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0px;
}

.top-nav-content {
  display: grid;
  grid-template-areas:
  "nav-menu nav-menu nav-menu nav-menu nav-menu login-menu";
}

.top-nav-content a {
  color: green;
}

.top-nav-content a:hover {
  background: none;
}

.top-nav-content a:visited {
  color: green;
}

.top-nav-item {
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;
  display: grid;
  padding: 5px;
}

.top-nav-item a:hover{
  color: rgba(217, 211, 211, 1);;
}

.top-nav-item form {
  display: inline;
  text-align: center;
}

//nav-menu
.nav-menu {
  grid-area: nav-menu;
  display: flex;
  justify-content: left;
  align-content: center;
  flex-direction: row;
  grid-gap: 10px;
}

.nav-menu .top-nav-item a {
  text-decoration: none;
}

//login-menu
.login-menu {
  grid-area: login-menu;
  display: flex;
  justify-content: right;
  align-content: center;
  flex-direction: row;
  grid-gap: 10px;
}

.login-logout-button {
  grid-column: -1;
  background-color: green;
  border: 1px black solid;
  color: black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.login-logout-button:hover {
  background-color: black;
  border: 1px green solid;
  color: green;
}

.nav-toggle {
  grid-area: nav-toggle;
  display: grid;
  justify-content: center;
  display: none;
}

.nav-toggle-icon {
  font-size: 26px;
  color: green;
}

//title
.main-title {
  grid-area: title;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "image title title title";
  max-height: 200px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  margin-bottom: 25px;
  justify-items: center;
}

.main-title img {
  height: 200px;
  display: block;
  grid-area: image;
}

.main-title h1 {
  display: inline-block;
  vertical-align: middle;
  padding-top: 75px;
  grid-area: title;
  font-family: cursive;
}

.content {
  grid-area: content;
  margin-left: 25px;
  margin-right: 25px;
}

// Utility styles
.hidden {
  display: none !important;
}

.pointer{
  cursor: pointer !important;
}

.center-text {
  text-align: center !important;
}

// Content
.outer-text-content {
  border-radius: 15px;
  margin: 5px auto;
  width: 1230px;
}

.outer-text-content a {
  color: green;
}

.outer-text-content a:hover {
  color: green;
  background: none;
}

.outer-text-content a:visited {
  color: green;
}

//forms
.form-div {
  margin: 20px;
  padding: 10px;
}

.form-div label {
  display: block; 
}

.form-div .field, .form-div .actions {
  margin-bottom: 10px; 
}

.form-div a{
  background-color: #FC3B00;
  border: 1px black solid;
  color: black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.form-div a:visited{
  color: black;
}

.form-div a:hover {
  background-color: black;
  color: #FC3B00;
  border: 1px #FC3B00 solid;
}

.form-div input[type=submit]{
  background-color: #FC3B00;
  border: 1px black solid;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.form-div input[type=submit]:hover {
  background-color: black;
  border: 1px #FC3B00 solid;
  color: #FC3B00;
}

.form-div input[type=button]{
  background-color: #FC3B00;
  border: 1px black solid;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.form-div input[type=button]:hover {
  background-color: black;
  border: 1px #FC3B00 solid;
  color: #FC3B00;
}

.form-div input[type=file]{
  background-color: #FC3B00;
  border: 1px black solid;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.form-div input[type=file]:hover {
  background-color: black;
  border: 1px #FC3B00 solid;
  color: #FC3B00;
}

.form-div input[type=text]{
  background: none;
  border: 1px black solid;
  color: rgba(217, 211, 211, 1);
  border-color: rgba(255, 255, 255, 0.8);
}

.field_with_errors {
  padding: inherit !important;
  background-color: white !important;
  display: initial !important;
  color: rgb(255, 60, 0);
}

.form-errors {
  margin-bottom: 10px;
  color: rgb(255, 60, 0);
}

@media only screen and (max-width: 600px) {
  .hidden-on-mobile {
      display: none !important;
  }

  .top-nav-content {
      grid-template-areas:
      "nav-toggle"
      "nav-menu"
      "login-menu";
      row-gap: 10px;
  }

  .top-nav-item {
      margin-right: 0px;
      margin-bottom: 5px;
      display: block;
  }

  .nav-toggle {
      display: grid;
  }

  .nav-menu {
      margin-bottom: 5px;
      margin-top: 5px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      grid-gap: 5px;
  }

  .login-menu {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      grid-gap: 5px;
  }

  .main-title {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "image";
  }
}

@media only screen and (max-width: 1280px) {
  //content
  .outer-text-content {
      width: 974px;
  }
}

@media only screen and (max-width: 1024px) {
  //content
  .outer-text-content {
      width: 718px;
  }
}

@media only screen and (max-width: 768px) {
  //content
  .outer-text-content {
      width: 430px;
  }
}

@media only screen and (max-width: 480px) {
  //content
  .outer-text-content {
      width: 330px;
  }
}

@media only screen and (max-width: 380px) {
  //content
  .outer-text-content {
      width: 250px;
  }
}