.participants-table {
  display: table;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.participants-table-cell {
  display:table-cell;
  text-align:center;
}

table, th, td {
  border: 1px solid black;
}
