<main class="outer-text-content">
  <article class="text-content">
    <%= turbo_frame_tag(:vote_form) do %>
      <%= form_tag("select_participant", data: { controller: "form-submitter" }) do %>
        <%= select_tag :participant_id,
          options_for_select(
          current_user.participants.select { |p| !@contest.has_vote_from(p) }
          .map { |p| [p.name, p.id] }),
          prompt: "Select participant", 
          data: {
            action: "change->form-submitter#submit"
          } %>
      <% end %>
    <% end %>
  </article>
</main>